<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>togetha admin</title>

 

  @stack('dumper')
  @viteReactRefresh()
  @inertiaHead()
  @vite(['resources/css/app.css', 'inertia/app.tsx'])
</head>


@serverStats()
<body class="min-h-screen w-screen font-sans">
  @inertia()
</body>

</html>